<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirkaPrint2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <BirkaPrint2.Properties.Settings>
            <setting name="Proisvodstvo_xy" serializeAs="String">
                <value>30/19</value>
            </setting>
            <setting name="CodeOborudovoniya_xy" serializeAs="String">
                <value>36/26</value>
            </setting>
            <setting name="SystemUpravleniya_xy" serializeAs="String">
                <value>30/35</value>
            </setting>
            <setting name="CodeBlocka_xy" serializeAs="String">
                <value>28/42</value>
            </setting>
            <setting name="SerialNumber_xy" serializeAs="String">
                <value>32/49</value>
            </setting>
            <setting name="Data_xy" serializeAs="String">
                <value>32/55</value>
            </setting>
            <setting name="Fio_xy" serializeAs="String">
                <value>33/64</value>
            </setting>
            <setting name="Neispravnost_xy" serializeAs="String">
                <value>26/80</value>
            </setting>
            <setting name="Zayavka_xy" serializeAs="String">
                <value>20/8</value>
            </setting>
            <setting name="StpMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STP_P" serializeAs="String">
                <value>32/16</value>
            </setting>
            <setting name="STP_CO" serializeAs="String">
                <value>37/22</value>
            </setting>
            <setting name="STP_SU" serializeAs="String">
                <value>39/27</value>
            </setting>
            <setting name="STP_CB" serializeAs="String">
                <value>26/33</value>
            </setting>
            <setting name="STP_SN" serializeAs="String">
                <value>17/39</value>
            </setting>
            <setting name="STP_D" serializeAs="String">
                <value>40/45</value>
            </setting>
            <setting name="STP_FIO" serializeAs="String">
                <value>40/51</value>
            </setting>
            <setting name="STP_N" serializeAs="String">
                <value>10/71</value>
            </setting>
            <setting name="STP_Z" serializeAs="String">
                <value>20/7</value>
            </setting>
            <setting name="STP_T" serializeAs="String">
                <value>25/56</value>
            </setting>
        </BirkaPrint2.Properties.Settings>
    </userSettings>
</configuration>
